@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

h1 {
    font-weight: bold;
}

.main-container {
    background: #114357;
    background: -webkit-linear-gradient(to right, #F29492, #114357);
    background: linear-gradient(to right, #F29492, #114357);
}

.forecast-container {
    min-height: 80vh;
}

.form-container {
    background-size: cover;
    height: auto;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s linear;
    transition: width 1s;
    transition: all 1s;
    width: 100%;
    @apply p-5 rounded-2xl
}


.form-container.show {
    /* width: 100%; */
    transition: all 1s;
}

.data-container {
    transition: all 1s;
    opacity: 1;
    transition: opacity 1s;
    padding: 20px;
    width: 100%;
}

.data-container.hide {
    transition: all 1s;
    opacity: 0;
    width: 0;
    padding: 0;
    min-width: 0;
}

.header-container {
    display: flex;
    margin-left: 47%;
}

.input {
    position: relative;
    width: 40%;
}